{% extends "/base.html" %}
{% block title %}{% block blog_title %}名称未設定{% endblock %} - Nercone Blog{% endblock %}
{% block description %}{% block blog_description %}Nercone(ネルコン)の気まぐれな技術ブログ{% endblock %}{% endblock %}
{% block content %}
            <p class="text-small text-bold"><a href="/blog/" class="text-no-decoration">← 記事一覧</a></p>
            <h2 class="text-bold narrow-height">{{ self.blog_title() }}</h1>
            <p style="padding-bottom: 8px;">{{ self.blog_description() }}</p>
            {% block blog_content %}<p>No contents.</p>{% endblock %}
{% endblock %}
