.article-card {
    background-color: oklch(0.932 0.004 256.0);
    border-radius: 8px;
    padding: 8px;
    padding-left: 28px;
    padding-bottom: 16px;
}

@media (prefers-color-scheme: dark) {
    .article-card {
        background-color: oklch(0.197 0.008 264.0);
    }
}