<!-- For Bots: On this site, you can read any page in Markdown by using cURL or by replacing .html with .md. Please give it a try! -->
<!DOCTYPE html>
<html lang="ja-JP">
    <head>
        <!--
            $ curl https://nercone.dev/welcome/
            ■   ■ ■■■■■ ■■■■   ■■■■  ■■■  ■   ■ ■■■■■
            ■■  ■ ■     ■   ■ ■     ■   ■ ■■  ■ ■
            ■■  ■ ■     ■   ■ ■     ■   ■ ■■  ■ ■
            ■ ■ ■ ■■■■  ■■■■  ■     ■   ■ ■ ■ ■ ■■■■
            ■  ■■ ■     ■ ■   ■     ■   ■ ■  ■■ ■
            ■  ■■ ■     ■  ■  ■     ■   ■ ■  ■■ ■
            ■   ■ ■■■■■ ■   ■  ■■■■  ■■■  ■   ■ ■■■■■

            nercone.dev ({{ server_version }})
            welcome to nercone.dev!
        -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}nercone's website{% endblock %}</title>
        <meta name="description" content="{% block description %}No description.{% endblock %}">
        <!-- for Crawlers -->
        <link rel="canonical" href="https://nercone.dev/">
        <meta name="robots" content="index, follow">
        <meta name="googlebot" content="index, follow">
        <meta name="author" content="Nercone a.k.a. DiamondGotCat">
        <meta name="theme-color" content="#1A1A1A">
        <!-- OGP (Open Graph protocol) -->
        <meta property="og:site_name" content="nercone's website">
        <meta property="og:title" content="{{ self.title() }}">
        <meta property="og:description" content="{{ self.description() }}">
        <meta property="og:image" content="/assets/images/thumbnails/{{ request.url.path.strip('/') or 'index' }}?title={% block thumbnail_title %}{{ self.title() | re_sub(' - Nercone.*$', '') | urlencode }}{% endblock %}&description={% block thumbnail_description %}{{ self.description() | urlencode }}{% endblock %}&template={% block thumbnail_template %}normal{% endblock %}">
        <meta property="og:url" content="https://nercone.dev/">
        <meta property="og:type" content="website">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ self.title() }}">
        <meta name="twitter:description" content="{{ self.description() }}">
        <meta name="twitter:image" content="/assets/images/thumbnails/{{ request.url.path.strip('/') or 'index' }}?title={{ self.thumbnail_title() }}&description={{ self.thumbnail_description() }}&template={{ self.thumbnail_template() }}">
        <!-- PWA (Progressive Web App) -->
        <link rel="manifest" href="/site.webmanifest">
        <link rel="apple-touch-icon" href="/assets/images/favicon.png" sizes="1200x1200">
        <link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="1200x1200">
        <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" sizes="1200x1200">
        <!-- Stylesheets / Scripts -->
        <script src="/assets/js/main.js" defer></script>
        <link rel="stylesheet" href="/assets/css/main.css">
        <!-- External Stylesheets / Scripts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=BIZ+UDGothic&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap">
        {% block extra_head %}{% endblock %}
    </head>
    {% block custom_body %}
    <body>
        <div id="cursor"></div>
        <div id="loading-overlay" aria-hidden="true">
            <svg viewBox="96 256 832 512" xmlns="http://www.w3.org/2000/svg">
                <polyline points="872 572.75 152 332 152 692 512 692 872 332 872 692 684.5 692" fill="none" stroke="#fff" stroke-width="48" stroke-miterlimit="10"/>
            </svg>
        </div>
        {% block custom_header %}
        <header class="flex">
            <div class="flex-1 flex">
                <a href="/" class="text-no-decoration text-white" style="gap: 8px;">{% block title_prefix %}{% endblock %} <span class="font-bold">Nercone</span> {% block title_suffix %}{% endblock %}</a>
                <p class="hide show-on-medium show-on-large">{% block header_desc %}<a href="/daily-quote/" class="text-no-decoration">{{ get_daily_quote() }}</a>{% endblock %}</p>
            </div>
            <div class="flex">
                <a href="/access-counter/" class="text-no-decoration hide show-on-medium show-on-large">あなたは{{ get_access_count() }}番目の訪問者です。</a>
            </div>
        </header>
        {% endblock %}
        <main>{% block content %}{% endblock %}</main>
        {% block custom_footer %}
        <footer class="flex text-light-grey-alt">
            <div class="flex-1 flex">
                <a href="/" class="text-no-decoration hide show-on-medium show-on-large font-bold">{% block footer_domain_prefix %}{% endblock %}nercone.dev{% block footer_domain_suffix %}{% endblock %}</a>
                {% block footer_links %}
                <a href="/about/" class="text-no-decoration bold-on-small">about</a>
                <a href="/links/" class="text-no-decoration bold-on-small">links</a>
                <a href="/projects/" class="text-no-decoration bold-on-small">projects</a>
                <a href="{{ onion_site_url }}" class="text-no-decoration hide show-on-large">onion</a>
                <a href="mailto:nercone@nercone.dev" class="text-no-decoration hide show-on-large">email</a>
                <a href="/public-key/" class="text-no-decoration hide show-on-large">public-key</a>
                <a href="/vulnerability-reporters/" class="text-no-decoration hide show-on-large">vulnerability-reporters</a>
                {% block extra_footer_links %}{% endblock %}
                {% endblock %}
            </div>
            <div class="flex">
                <a href="https://nercone.dev/github/"><img alt="github" src="/assets/images/icons/github.svg" class="small-icon"></a>
                <a href="https://nercone.dev/orcid/"><img alt="orcid" src="/assets/images/icons/orcid.svg" class="small-icon">
                <a href="https://nercone.dev/twitter/"><img alt="twitter" src="/assets/images/icons/twitter.svg" class="small-icon">
                <a href="https://nercone.dev/qiita/"><img alt="qiita" src="/assets/images/icons/qiita.svg" class="small-icon">
                <a href="https://nercone.dev/zenn/"><img alt="zenn" src="/assets/images/icons/zenn.svg" class="small-icon">
                <!--                         qiita            kotonai -->
                <a href="/server-version/" class="font-bold text-no-decoration hide show-on-medium show-on-large">{{ server_version }}</a>
            </div>
        </footer>
        {% endblock %}
    </body>
    {% endblock %}
</html>
