{% extends "/base.html" %}
{% block title %}Download / Use Banner - Nercone{% endblock %}
{% block extra_title %}Links{% endblock %}
{% block header_desc %}リンクたち{% endblock %}
{% block description %}Nerconeのリンク集{% endblock %}
{% block content %}
            <p class="text-small text-bold"><a href="/links/" class="text-no-decoration">← Links</a></p>
            <h3>Download / Use Banner</h2>
            <p><a href="https://creativecommons.org/licenses/by/4.0/deed.ja">CC BY 4.0</a>の元で自由に使用できます。</p>
            <p><a href="/assets/images/banner.ai" class="text-no-decoration" download>adobe-illustrator</a> / <a href="/assets/images/banner.svg" class="text-no-decoration" download>svg</a> / <a href="/assets/images/banner.png" class="text-no-decoration" download>png</a> / <a href="/assets/images/banner.webp" class="text-no-decoration" download>webp</a></p>
            <pre>&lt;a href=&quot;https://nercone.dev/&quot;&gt;&lt;img src=&quot;https://assets.nercone.dev/images/banner.svg&quot;&gt;&lt;/a&gt;  &lt;!-- SVG --&gt;<br>&lt;a href=&quot;https://nercone.dev/&quot;&gt;&lt;img src=&quot;https://assets.nercone.dev/images/banner.png&quot;&gt;&lt;/a&gt;  &lt;!-- PNG --&gt;<br>&lt;a href=&quot;https://nercone.dev/&quot;&gt;&lt;img src=&quot;https://assets.nercone.dev/images/banner.webp&quot;&gt;&lt;/a&gt; &lt;!-- WEBP --&gt;</pre>
            <h4>Cat Version</h3>
            <p>猫バージョンです。dotpictを使って描いたやつをIllustratorで加工してます。個人的にはこっちのほうが好き。</p>
            <p><a href="/assets/images/banner_cat.ai" class="text-no-decoration" download>adobe-illustrator</a> / <a href="/assets/images/banner_cat.svg" class="text-no-decoration" download>svg</a> / <a href="/assets/images/banner_cat.png" class="text-no-decoration" download>png</a> / <a href="/assets/images/banner_cat.webp" class="text-no-decoration" download>webp</a></p>
            <pre>&lt;a href=&quot;https://nercone.dev/&quot;&gt;&lt;img src=&quot;https://assets.nercone.dev/images/banner_cat.svg&quot;&gt;&lt;/a&gt;  &lt;!-- SVG --&gt;<br>&lt;a href=&quot;https://nercone.dev/&quot;&gt;&lt;img src=&quot;https://assets.nercone.dev/images/banner_cat.png&quot;&gt;&lt;/a&gt;  &lt;!-- PNG --&gt;<br>&lt;a href=&quot;https://nercone.dev/&quot;&gt;&lt;img src=&quot;https://assets.nercone.dev/images/banner_cat.webp&quot;&gt;&lt;/a&gt; &lt;!-- WEBP --&gt;</pre>
{% endblock %}
