{% extends "/base.html" %}
{% block title %}Links - Nercone{% endblock %}
{% block title_suffix %}Links{% endblock %}
{% block header_desc %}相互リンク大歓迎{% endblock %}
{% block description %}Nerconeのリンク集{% endblock %}
{% block content %}
            <div id="nercone" class="block">
                <img src="/assets/images/banner.png" alt="banner-nercone" class="banner">
                <h3 style="margin-top: 8px; margin-bottom: 4px;" translate="no">nercone</h3>
                <p style="margin-top: 4px;" translate="no">It's me.</p>
                <div class="flex font-small text-bright-light-grey">
                    <a href="https://nercone.dev/" class="text-no-decoration">website</a>
                    <a href="https://github.com/nercone-dev/" class="text-no-decoration">github</a>
                    <a href="https://twitter.com/nercone_x/" class="text-no-decoration">twitter</a>
                    <a href="https://orcid.org/0009-0001-3615-0962/" class="text-no-decoration">orcid</a>
                    <a href="https://qiita.com/DiamondGotCat/" class="text-no-decoration">qiita</a>
                    <a href="https://zenn.dev/techcat56/" class="text-no-decoration">zenn</a>
                </div>
                <!--
                <pre>
                class Nercone(Identity):
                    @property
                    def loves(self):
                        return t3tra
                </pre>
                -->
            </div>
            <div id="t3tra" class="block">
                <a href="https://t3tra.dev/" target="_blank" rel="noopener noreferrer"><img src="https://t3tra.dev/images/banner.png" alt="banner-t3tra" class="banner"></a>
                <h3 style="margin-top: 8px; margin-bottom: 4px;" translate="no">t3tra<!--様--></h3>
                <p style="margin-top: 4px;">技術とか才能が凄すぎる人<!--で僕が好きな人-->。LLVMなどを活用してPythonのコンパイラを作ったり、量子コンピューターのシミュレーションソフトを作ったりなど、とにかくすごいことをしている。到底理解に及ばない<!-- 神のような人 -->。 <!-- 好きな人にリンク貼ってもらえたうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしいうれしい好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き好き --></p>
                <div class="flex font-small text-bright-light-grey">
                    <a href="https://t3tra.dev/" class="text-no-decoration">website</a>
                    <a href="https://github.com/t3tra-dev/" class="text-no-decoration">github</a>
                    <a href="https://twitter.com/t3tra_x/" class="text-no-decoration">twitter</a>
                    <a href="https://orcid.org/0009-0006-9423-1572/" class="text-no-decoration">orcid</a>
                    <a href="https://qiita.com/t3tra/" class="text-no-decoration">qiita</a>
                    <a href="https://zenn.dev/t3tra/" class="text-no-decoration">zenn</a>
                </div>
                <!-- tip: Nerconeはてとらさんのことが好きすぎるためライバルは積極的に潰そうとします。 -->
                <!-- tip of tip: ただし想像以上に強いライバルが現れると勝てないとわかり悲しくなって1日ぐらい現実世界からログアウトします。 -->
                <!-- tip of tip of tip: なのでNerconeには優しくしてください -->
                <!-- tip of tip of tip of tip: 言い忘れてたけどてとらさんは僕のものなので手を出すな -->
                <!-- tip of tip of tip of tip of tip: そういえばてとらさんってヤンデレだったりするのかな (妄想) -->
                <!-- tip of tip of tip of tip of tip of tip: 前に確かメンヘラだとかなんとか言ってた気がするからもしかしたら... -->
                <!-- tip of tip of tip of tip of tip of tip of tip: 流石にないか... -->
                <!-- tip of tip of tip of tip of tip of tip of tip of tip: そういえば最近てとらさんがウェブサイトのコード書き直してFastAPI + Jinja2にしてた。まさか... -->
                <!-- tip of tip of tip of tip of tip of tip of tip of tip of tip: いや待て落ち着けまだそうと決まったわけじゃ...でもそうだったらいいな -->
                <!-- tip of tip of tip of tip of tip of tip of tip of tip of tip of tip: そういえば前からDiscordのプロフィールの自己紹介欄にZH_CH使えるって書いてあったから両親のどちらかが中国なのではと思ってたけど普通に当たってて一瞬自分のOSINT力(?)が怖くなった。ちなみに結構前からホームの#welcome-textに中国語あるのはその予想によるもの。 -->
            </div>
            <div id="juw" class="block">
                <a href="https://drsb.f5.si/" target="_blank" rel="noopener noreferrer"><img src="https://drsb.f5.si/img/banner.png" alt="banner-juw" class="banner"></a>
                <h3 style="margin-top: 8px; margin-bottom: 4px;" translate="no">jüw</h3>
                <p style="margin-top: 4px;">このサイトの2番目の相互リンク先。JavaScriptが得意らしく、少し羨ましい。色々な自然言語を学んでてすごい。<!-- メールすぐに気づけなくてすみません... --></p>
                <div class="flex font-small text-bright-light-grey">
                    <a href="https://drsb.f5.si/" class="text-no-decoration">website</a>
                    <a href="https://github.com/dragon-sub/" class="text-no-decoration">github</a>
                    <a href="https://twitter.com/dragon_scratch_/" class="text-no-decoration">twitter</a>
                </div>
            </div>
            <p class="text-bright-light-grey">バナーは<a href="/download-banner/">こ↑こ↓</a>からダウンロードできます。追加は<a href="#nercone">SNSまたはメール</a>でご連絡ください。</p>
{% endblock %}
