{% extends "/base.html" %}
{% block title %}サーバーのバージョン - Nercone{% endblock %}
{% block title_suffix %}Server Version{% endblock %}
{% block header_desc %}サーバーのバージョン{% endblock %}
{% block extra_head %}
        <style>
            main {
                display: grid;
                grid-template-rows: 1fr auto;
            }
            .big-text {
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 48pt;
            }
        </style>
{% endblock %}
{% block content %}
            <p class="text-white big-text"><span class="text-bright-light-grey unselectable" translate="no">commit:</span>{{ server_version }}</p>
            <div class="block">
                <p>このサーバーで現在使用されているソースコードのコミットID(ハッシュ)の先頭7文字です。</p>
                <p>サーバーが起動されるたびに<code>git rev-parse --short HEAD</code>を使用して取得しています。</p>
                <p>詳しくは<a href="https://github.com/nercone-dev/website/">このサーバーのソースコード</a>へ</p>
            </div>
{% endblock %}
