{% extends "/base.html" %}
{% block title %}About Nercone{% endblock %}
{% block extra_title %}About{% endblock %}
{% block header_desc %}Nerconeについて{% endblock %}
{% block content %}
            <p class="text-small text-bold"><a href="/" class="text-no-decoration">← ホーム</a></p>
            <p>思いついたものを適当に作っているただの学生です。</p>
            <p>作ろうと思ったものをとりあえず作ってみていったらいつの間にかこうなってました。</p>
            <p>低レイヤに興味を持ちつつ結局いつもPythonを使ってしまう残念な人です。</p>
            <p>名前からもわかると思いますが圧倒的猫派です。理由？可愛いからに決まってるじゃないですか。</p>
            <p><span class="text-bold text-highlight">今の目標:</span> カーネルレベルからOSを作ることと、Appleに入ること。</p>
            <p><span class="text-bold text-highlight">興味:</span> <!-- てとらさん, -->Apple, macOS, ARM, Linux, 自作OS, OSINT など</p>
            <p><span class="text-bold text-highlight">基本的なスキル:</span> Python, Swift/SwiftUI, HTML など</p>
            <!-- <p><span class="text-bold text-highlight">好きな人:</span> てとらさん</p> -->
            <!-- <p><span class="text-bold text-highlight">大好きな人:</span> てとらさん</p> -->
            <!-- <p><span class="text-bold text-highlight">最高な人:</span> てとらさん</p> -->
            <!-- <p><span class="text-bold text-highlight">この世で一番好きな人:</span> てとらさん</p> -->
            <p class="text-lowlight">猫みたいに自由気ままに生きてみたい...</p>
{% endblock %}
