{% extends "/base.html" %}
{% block title %}About Nercone{% endblock %}
{% block extra_title %}About{% endblock %}
{% block header_desc %}Nerconeについて{% endblock %}
{% block content %}
            <p class="text-small text-bold"><a href="/" class="text-no-decoration">← ホーム</a></p>
            <p>思いついたものを適当に作っているただの学生です。</p>
            <p>作ろうと思ったものをとりあえず作ってみていったらいつの間にかこうなってました。</p>
            <p>低レイヤに興味を持ちつつ結局いつもPythonを使ってしまう残念な人です。</p>
            <p>名前からもわかると思いますが圧倒的猫派です。理由？可愛いからに決まってるじゃないですか。</p>
            <p class="text-lowlight">猫みたいに自由気ままに生きてみたい...</p>
{% endblock %}
