{% extends "/base.html" %}
{% block title %}アクセスカウンタ - Nercone{% endblock %}
{% block extra_title %}Access Counter{% endblock %}
{% block header_desc %}ただのアクセスカウンター{% endblock %}
{% block content %}
            <p class="text-small text-bold"><a href="/" class="text-no-decoration">← ホーム</a></p>
            <h2>アクセス #{{ get_counter() }}</h2>
            <p>このサイトのpngなどのファイルではない普通のページへのアクセスに成功した場合に自動的に1増えます</p>
            <p>詳しくは<a href="https://github.com/DiamondGotCat/nercone-webserver/blob/main/main.py">このサーバーのソースコード</a>へ</p>
            <p class="text-lowlight">※キリ番報告は不要です</p>
{% endblock %}
