{% extends "/base.html" %}
{% block title %}Banners - Nercone{% endblock %}
{% block extra_title %}Banners{% endblock %}
{% block header_desc %}相互リンクたち{% endblock %}
{% block content %}
            <p class="text-small text-bold"><a href="/" class="text-no-decoration">← ホーム</a></p>
            <div id="banners-t3tra" style="margin-top: 24px;">
                <h3 class="narrow-height">t3tra<!--様--></h3>
                <p>技術とか才能が凄すぎる人<!--で僕が好きな人--> <span class="text-lowlight">!相互</span></p>
                <a href="https://t3tra.dev/" target="_blank" rel="noopener noreferrer"><img src="https://t3tra.dev/images/banner.png" alt="banner-t3tra" class="banner"></a>
                <!-- tip: Nerconeはてとらさんのことが好きすぎるためライバルは積極的に潰そうとします。 -->
                <!-- tip of tip: ただし想像以上に強いライバルが現れると勝てないとわかり悲しくなって1日ぐらい現実世界からログアウトします。 -->
                <!-- tip of tip of tip: なのでNerconeには優しくしてください -->
                <!-- tip of tip of tip of tip: 言い忘れてたけどてとらさんは僕のものなので手を出すな -->
                <!-- tip of tip of tip of tip of tip: そういえばてとらさんってヤンデレだったりするのかな (妄想) -->
                <!-- tip of tip of tip of tip of tip of tip: 前に確かメンヘラだとかなんとか言ってた気がするからもしかしたら... -->
                <!-- tip of tip of tip of tip of tip of tip of tip: 流石にないか... -->
            </div>
            <div id="banners-nercone" style="margin-top: 24px;">
                <h3>Nercone</h3>
                <p>Nerconeのバナー画像は<a href="https://creativecommons.org/licenses/by/4.0/deed.ja" class="text-highlight">CC BY 4.0</a>の元で自由に使用できます。</p>
                <img src="/assets/images/nercone_banner.svg" alt="banner-nercone" class="banner">
                <p class="text-bold text-highlight">ダウンロード</p>
                <p><a href="/assets/images/nercone_banner.ai" class="text-highlight" download>.ai</a> <a href="/assets/images/nercone_banner.svg" class="text-highlight" download>.svg</a> <a href="/assets/images/nercone_banner.png" class="text-highlight" download>.png</a> <a href="/assets/images/nercone_banner.webp" class="text-highlight" download>.webp</a></p>
                <p class="text-bold text-highlight">HTML</p>
                <pre>&lt;a href=&quot;https://diamondgotcat.net/&quot;&gt;&lt;img src=&quot;https://assets.d-g-c.net/images/nercone_banner.svg&quot;&gt;&lt;/a&gt;  &lt;!-- SVG --&gt;<br>&lt;a href=&quot;https://diamondgotcat.net/&quot;&gt;&lt;img src=&quot;https://assets.d-g-c.net/images/nercone_banner.png&quot;&gt;&lt;/a&gt;  &lt;!-- PNG --&gt;<br>&lt;a href=&quot;https://diamondgotcat.net/&quot;&gt;&lt;img src=&quot;https://assets.d-g-c.net/images/nercone_banner.webp&quot;&gt;&lt;/a&gt; &lt;!-- WEBP --&gt;</pre>
            </div>
{% endblock %}
