{% extends "/base.html" %}
{% block title %}Nercone (ネルコン){% endblock %}
{% block description %}作りたいものを作り、やりたくないことからは逃げる学生{% endblock %}
{% block header_desc %}{{ todays_phrase() }}{% endblock %}
{% block content %}
            <h1 class="text-bold">Nercone's Website</h1>
            <p>作りたいものを作り、やりたくないことからは逃げる学生</p>
            <a href="/about/">
                <div class="block">
                    <h3>About</h3>
                    <p>Nerconeについて</p>
                </div>
            </a>
            <a href="/blog/">
                <div class="block">
                    <h3>Blog</h3>
                    <p>たまに更新してるブログ</p>
                </div>
            </a>
            <a href="/projects/">
                <div class="block">
                    <h3>Projects</h3>
                    <p>主なプロジェクトたち</p>
                </div>
            </a>
            <a href="/banners/">
                <div class="block">
                    <h3>Banners</h3>
                    <p>相互リンクたち</p>
                </div>
            </a>
{% endblock %}
