{% extends "/base.html" %}
{% block title %}Links - Nercone{% endblock %}
{% block extra_title %}Links{% endblock %}
{% block header_desc %}リンクたち{% endblock %}
{% block description %}Nerconeのリンク集{% endblock %}
{% block content %}
            <p class="text-small text-bold"><a href="/" class="text-no-decoration">← ホーム</a></p>
            <section id="nercone">
                <a href="https://github.com/DiamondGotCat/" class="text-no-decoration">
                    <div class="block">
                        <h3>GitHub</h3>
                        <p>@DiamondGotCat</p>
                    </div>
                </a>
                <a href="https://twitter.com/DiamondGotCat/" class="text-no-decoration">
                    <div class="block">
                        <h3>Twitter</h3>
                        <p>@DiamondGotCat</p>
                    </div>
                </a>
                <a href="https://qiita.com/DiamondGotCat/" class="text-no-decoration">
                    <div class="block">
                        <h3>Qiita</h3>
                        <p>@DiamondGotCat</p>
                    </div>
                </a>
                <a href="https://zenn.dev/techcat56/" class="text-no-decoration">
                    <div class="block">
                        <h3>Zenn</h3>
                        <p>@techcat56</p>
                    </div>
                </a>
                <a href="http://tnmuo3jfchp6maf4o7n54urcvibjiveigcvad2sgqgvl4up3uail4xyd.onion/" class="text-no-decoration">
                    <div class="block">
                        <h3>Tor Network</h3>
                        <p>このサイトのOnionサイト版</p>
                    </div>
                </a>
            </section>
            <section id="banners">
                <h2>バナー</h2>
                <div id="banners-t3tra" class="block">
                    <h3>t3tra<!--様--></h3>
                    <p>技術とか才能が凄すぎる人<!--で僕が好きな人--> <span class="text-lowlight">!相互リンク<!-- 相互リンクにしたいけど勇気出せなくて言えてない (好きな人に1対1で話すの難しい) --></span></p>
                    <a href="https://t3tra.dev/" target="_blank" rel="noopener noreferrer"><img src="https://t3tra.dev/images/banner.png" alt="banner-t3tra" class="banner"></a>
                    <p class="text-bold text-highlight">リンク</p>
                    <p><a href="https://t3tra.dev/" class="text-highlight">Website</a> <a href="https://github.com/t3tra-dev/" class="text-highlight">GitHub</a> <a href="https://twitter.com/t3tra_x/" class="text-highlight">Twitter</a> <a href="https://qiita.com/t3tra/" class="text-highlight">Qiita</a> <a href="https://zenn.dev/t3tra/" class="text-highlight">Zenn</a></p>
                    <!-- tip: Nerconeはてとらさんのことが好きすぎるためライバルは積極的に潰そうとします。 -->
                    <!-- tip of tip: ただし想像以上に強いライバルが現れると勝てないとわかり悲しくなって1日ぐらい現実世界からログアウトします。 -->
                    <!-- tip of tip of tip: なのでNerconeには優しくしてください -->
                    <!-- tip of tip of tip of tip: 言い忘れてたけどてとらさんは僕のものなので手を出すな -->
                    <!-- tip of tip of tip of tip of tip: そういえばてとらさんってヤンデレだったりするのかな (妄想) -->
                    <!-- tip of tip of tip of tip of tip of tip: 前に確かメンヘラだとかなんとか言ってた気がするからもしかしたら... -->
                    <!-- tip of tip of tip of tip of tip of tip of tip: 流石にないか... -->
                </div>
                <div id="banners-nercone" class="block">
                    <h3>Nercone</h3>
                    <p>Nerconeのバナー画像は<a href="https://creativecommons.org/licenses/by/4.0/deed.ja">CC BY 4.0</a>の元で自由に使用できます。</p>
                    <img src="/assets/images/nercone_banner.svg" alt="banner-nercone" class="banner">
                    <p class="text-bold text-highlight">ダウンロード</p>
                    <p><a href="/assets/images/nercone_banner.ai" class="text-highlight" download>.ai</a> <a href="/assets/images/nercone_banner.svg" class="text-highlight" download>.svg</a> <a href="/assets/images/nercone_banner.png" class="text-highlight" download>.png</a> <a href="/assets/images/nercone_banner.webp" class="text-highlight" download>.webp</a></p>
                    <p class="text-bold text-highlight">HTML</p>
                    <pre>&lt;a href=&quot;https://diamondgotcat.net/&quot;&gt;&lt;img src=&quot;https://assets.d-g-c.net/images/nercone_banner.svg&quot;&gt;&lt;/a&gt;  &lt;!-- SVG --&gt;<br>&lt;a href=&quot;https://diamondgotcat.net/&quot;&gt;&lt;img src=&quot;https://assets.d-g-c.net/images/nercone_banner.png&quot;&gt;&lt;/a&gt;  &lt;!-- PNG --&gt;<br>&lt;a href=&quot;https://diamondgotcat.net/&quot;&gt;&lt;img src=&quot;https://assets.d-g-c.net/images/nercone_banner.webp&quot;&gt;&lt;/a&gt; &lt;!-- WEBP --&gt;</pre>
                </div>
            </section>
{% endblock %}
