{% extends "/base.html" %}
{% block title %}Projects - Nercone{% endblock %}
{% block extra_title %}Projects{% endblock %}
{% block header_desc %}主なプロジェクトたち{% endblock %}
{% block description %}Nerconeの主なプロジェクトたち{% endblock %}
{% block content %}
            <p class="text-small text-bold"><a href="/" class="text-no-decoration">← ホーム</a></p>
            <div id="projects-os" class="block">
                <h3>NerconeOS</h3>
                <p><a href="https://github.com/DiamondGotCat/nerconeos/" target="_blank" rel="noopener noreferrer" class="text-highlight">GitHub</a>・自作OS (とりあえず計画段階)</p>
            </div>
            <div id="projects-ypsh" class="block">
                <h3>YPSH Language</h3>
                <p><a href="https://github.com/YPSH-DGC/YPSH/" target="_blank" rel="noopener noreferrer" class="text-highlight">GitHub</a>・自作プログラミング言語</p>
            </div>
            <div id="projects-zetallm" class="block">
                <h3>Zeta LLM</h3>
                <p><a href="https://github.com/Zeta-DGC/Zeta-LLM/" target="_blank" rel="noopener noreferrer" class="text-highlight">GitHub</a>・自作LLM</p>
            </div>
            <div id="projects-gatepass" class="block">
                <h3>GatePass</h3>
                <p><a href="https://github.com/DiamondGotCat/GatePass/" target="_blank" rel="noopener noreferrer" class="text-highlight">GitHub</a>・macOS向け実行ファイル隔離解除ツール</p>
            </div>
            <div id="projects-nersh" class="block">
                <h3>SpeedClone</h3>
                <p><a href="https://github.com/DiamondGotCat/SpeedClone/" target="_blank" rel="noopener noreferrer" class="text-highlight">GitHub</a>・ちょっと速い気がしなくもないgitのクローンツール</p>
            </div>
            <div id="projects-fastget" class="block">
                <h3>FastGet</h3>
                <p><a href="https://github.com/DiamondGotCat/nercone-fastget/" target="_blank" rel="noopener noreferrer" class="text-highlight">GitHub</a>・<a href="https://pypi.org/project/nercone-fastget/" class="text-highlight">PyPI</a>・高速ファイルダウンロードツール</p>
            </div>
            <div id="projects-nersh" class="block">
                <h3>Nersh</h3>
                <p><a href="https://github.com/DiamondGotCat/nercone-shell/" target="_blank" rel="noopener noreferrer" class="text-highlight">GitHub</a>・<a href="https://pypi.org/project/nercone-shell/" class="text-highlight">PyPI</a>・自作シェル</p>
            </div>
            <div id="projects-nersh" class="block">
                <h3>rpi5powermonitor</h3>
                <p><a href="https://github.com/DiamondGotCat/rpi5powermonitor/" target="_blank" rel="noopener noreferrer" class="text-highlight">GitHub</a>・<a href="https://pypi.org/project/rpi5powermonitor/" class="text-highlight">PyPI</a>・Raspberry Pi 5向けの消費電力モニタリングツール</p>
            </div>
{% endblock %}
