<!DOCTYPE html>
<html lang="ja-JP">
    <head>
        <!-- tip: Nerconeは重度のコミュ障です。深夜テンションの時以外、ネットですら発言の前に見直さないと送れません。そしてその後寝るときには布団の中で反省会を行います。 -->
        <!-- tip of tip: そのぐらいコミュ障なので特定の人にDMで新しい話題を振るのは難しいです -->
        <!-- tip of tip of tip: 好きな人なら尚更です -->
        <!-- tip of tip of tip of tip: 実はNerconeはメンタルが結構弱かったりします -->
        <!-- tip of tip of tip of tip of tip: 強がってるように見えても実はそんなこと無かったりします -->
        <!-- tip of tip of tip of tip of tip of tip: 必死に抵抗してる場合もあります -->
        <!-- tip of tip of tip of tip of tip of tip of tip: なので優しくしてください -->
        <!-- tip of tip of tip of tip of tip of tip of tip of tip: 実はこのページ、不定期でたまーにコメント追加してるので、よかったらたまーに見ていってください。 -->
        <!-- tip of tip of tip of tip of tip of tip of tip of tip of tip: あ、ここのコメントのことを勝手に他に人に教えたりはしないでくださいね -->
        <!-- tip of tip of tip of tip of tip of tip of tip of tip of tip of tip: 絶対ですからね -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Nercone (ネルコン){% endblock %}</title>
        <meta name="description" content="{% block description %}作りたいものを作り、やりたくないことからは逃げる学生{% endblock %}">
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <!-- for Crawlers -->
        <link rel="canonical" href="https://diamondgotcat.net/">
        <meta name="robots" content="index, follow">
        <meta name="googlebot" content="index, follow">
        <meta name="author" content="Nercone">
        <meta name="theme-color" content="#1e1e1e">
        <!-- OGP -->
        <meta property="og:title" content="{{ self.title() }}">
        <meta property="og:description" content="{{ self.description() }}">
        <meta property="og:image" content="https://diamondgotcat.net/assets/images/nercone.png">
        <meta property="og:url" content="https://diamondgotcat.net/">
        <meta property="og:type" content="website">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ self.title() }}">
        <meta name="twitter:description" content="{{ self.description() }}">
        <meta name="twitter:image" content="https://diamondgotcat.net/assets/images/nercone.png">
        <!-- Stylesheets / Scripts etc. -->
        <link rel="manifest" href="/assets/favicon/site.webmanifest">
        <link rel="stylesheet" href="/assets/styles/main.css">
    </head>
    <body>
        <main>{% block content %}{% endblock %}            </main>
        <footer class="flex">
            <div class="flex-1 flex">
                <p class="text-bold">Nercone</p>
                <p class="hide show-on-large">Thank you for visit. Have a nice day!</p>
            </div>
            <div class="flex">
                <a href="https://github.com/DiamondGotCat/" target="_blank" rel="noopener noreferrer" class="text-bright">GitHub</a>
                <a href="https://twitter.com/DiamondGotCat/" target="_blank" rel="noopener noreferrer" class="text-bright">Twitter</a>
                <a href="https://zenn.dev/techcat56/" target="_blank" rel="noopener noreferrer" class="text-bright hide show-on-medium">Zenn</a>
                <a href="https://qiita.com/DiamondGotCat/" target="_blank" rel="noopener noreferrer" class="text-bright hide show-on-medium">Qiita</a>
                <a href="https://misskey.io/@DiamondGotCat/" target="_blank" rel="noopener noreferrer" class="text-bright hide show-on-medium">Misskey</a>
                <p class="hide show-on-large">Copyright (c) 2025 DiamondGotCat</p>
            </div>
        </footer>
    </body>
</html>
