{% extends "/base.html" %}
{% block title %}Links - Nercone{% endblock %}
{% block extra_title %}links{% endblock %}
{% block header_desc %}リンクたち{% endblock %}
{% block description %}Nerconeのリンク集{% endblock %}
{% block content %}
            <p class="text-small text-bold"><a href="/" class="text-no-decoration">← ホーム</a></p>
            <div id="nercone" class="block">
                <h3>Nercone</h3>
                <img src="/assets/images/nercone_banner.svg" alt="banner-nercone" class="banner">
                <p>Nerconeのバナー画像は<a href="https://creativecommons.org/licenses/by/4.0/deed.ja">CC BY 4.0</a>の元で自由に使用できます。</p>
                <p><span class="text-bold">links> </span><a href="https:/nercone.dev/" class="text-no-decoration">website</a> / <a href="https://github.com/Nercone/" class="text-no-decoration">github</a> / <a href="https://orcid.org/0009-0001-3615-0962/" class="text-no-decoration">orcid</a> / <a href="https://twitter.com/DiamondGotCat/" class="text-no-decoration">twitter</a> / <a href="https://qiita.com/DiamondGotCat/" class="text-no-decoration">qiita</a> / <a href="https://zenn.dev/techcat56/" class="text-no-decoration">zenn</a></p>
                <p><span class="text-bold">downloads> </span><a href="/assets/images/nercone_banner.ai" class="text-no-decoration" download>adobe-illustrator</a> / <a href="/assets/images/nercone_banner.svg" class="text-no-decoration" download>svg</a> / <a href="/assets/images/nercone_banner.png" class="text-no-decoration" download>png</a> / <a href="/assets/images/nercone_banner.webp" class="text-no-decoration" download>webp</a></p>
                <pre>&lt;a href=&quot;https:/nercone.dev/&quot;&gt;&lt;img src=&quot;https://assets.d-g-c.net/images/nercone_banner.svg&quot;&gt;&lt;/a&gt;  &lt;!-- SVG --&gt;<br>&lt;a href=&quot;https:/nercone.dev/&quot;&gt;&lt;img src=&quot;https://assets.d-g-c.net/images/nercone_banner.png&quot;&gt;&lt;/a&gt;  &lt;!-- PNG --&gt;<br>&lt;a href=&quot;https:/nercone.dev/&quot;&gt;&lt;img src=&quot;https://assets.d-g-c.net/images/nercone_banner.webp&quot;&gt;&lt;/a&gt; &lt;!-- WEBP --&gt;</pre>
                <!--
                <pre>
                class Nercone(Identity):
                    @property
                    def loves(self):
                        return t3tra
                </pre>
                -->
            </div>
            <div id="t3tra" class="block">
                <h3>t3tra<!--様--></h3>
                <a href="https://t3tra.dev/" target="_blank" rel="noopener noreferrer"><img src="https://t3tra.dev/images/banner.png" alt="banner-t3tra" class="banner"></a>
                <p>技術とか才能が凄すぎる人<!--で僕が好きな人--> <span class="text-lowlight">!相互リンク<!-- 相互リンクにしたいけど勇気出せなくて言えてない (好きな人に1対1で話すの難しい) --></span></p>
                <p><span class="text-bold">links> </span><a href="https://t3tra.dev/" class="text-no-decoration">website</a> / <a href="https://github.com/t3tra-dev/" class="text-no-decoration">github</a> / <a href="https://orcid.org/0009-0006-9423-1572/" class="text-no-decoration">orcid</a> / <a href="https://twitter.com/t3tra_x/" class="text-no-decoration">twitter</a> / <a href="https://qiita.com/t3tra/" class="text-no-decoration">qiita</a> / <a href="https://zenn.dev/t3tra/" class="text-no-decoration">zenn</a></p>
                <!-- tip: Nerconeはてとらさんのことが好きすぎるためライバルは積極的に潰そうとします。 -->
                <!-- tip of tip: ただし想像以上に強いライバルが現れると勝てないとわかり悲しくなって1日ぐらい現実世界からログアウトします。 -->
                <!-- tip of tip of tip: なのでNerconeには優しくしてください -->
                <!-- tip of tip of tip of tip: 言い忘れてたけどてとらさんは僕のものなので手を出すな -->
                <!-- tip of tip of tip of tip of tip: そういえばてとらさんってヤンデレだったりするのかな (妄想) -->
                <!-- tip of tip of tip of tip of tip of tip: 前に確かメンヘラだとかなんとか言ってた気がするからもしかしたら... -->
                <!-- tip of tip of tip of tip of tip of tip of tip: 流石にないか... -->
            </div>
{% endblock %}
