{% extends "/base.html" %}
{% block title %}PGP公開鍵 - Nercone{% endblock %}
{% block extra_title %}Public Key{% endblock %}
{% block header_desc %}PGP公開鍵{% endblock %}
{% block description %}NerconeのPGP公開鍵とそのフィンガープリント{% endblock %}
{% block content %}
            <p class="text-small text-bold"><a href="/" class="text-no-decoration">← ホーム</a></p>
            <h3><a href="mailto:nercone@nercone.dev" class="text-no-decoration">Nercone &lt;nercone&#64;nercone.dev&gt;</a></h3>
            <pre>-----BEGIN PGP PUBLIC KEY BLOCK-----<br><br>mDMEaZNZjBYJKwYBBAHaRw8BAQdAUSCDOhESmGQBqA9BXpmmB6tYAvzwPt+5pEjJ<br>UDl9rEO0Nk5lcmNvbmUgKGZvcm1lcmx5IERpYW1vbmRHb3RDYXQpIDxuZXJjb25l<br>QG5lcmNvbmUuZGV2PoiTBBMWCgA7FiEEc5Q3UzpWjrjbmTU3UFzPN/mj6OkFAmmT<br>WYwCGwMFCwkIBwICIgIGFQoJCAsCBBYCAwECHgcCF4AACgkQUFzPN/mj6OkjVgD/<br>ZSTmQCQ0R4JShXU74Onftlm0wYqj6+8E9C13OVC/Rx8A/iQIvmXZe9zfEslmFS7V<br>oWFegRuDoqLACL7BZUx/2r0MuDgEaZNZjBIKKwYBBAGXVQEFAQEHQPAgLyhydOum<br>8vtTBa/46VH5B29v0DnNEUCmHYnHn3EMAwEIB4h4BBgWCgAgFiEEc5Q3UzpWjrjb<br>mTU3UFzPN/mj6OkFAmmTWYwCGwwACgkQUFzPN/mj6OmgXQD/Umyya1slJclVhI/+<br>IHmvak+E6LMRcnr6r6ybY57iEK4BAOA/CMuOE718KYm0yqVSV8lK5ym1G/1BDwml<br>ZjQEF4sK<br>=qeqQ<br>-----END PGP PUBLIC KEY BLOCK-----</pre>
            <pre>7394 3753 3A56 8EB8 DB99 3537 505C CF37 F9A3 E8E9</pre>
{% endblock %}
