{% extends "/base.html" %}
{% block title %}PGP公開鍵 - Nercone{% endblock %}
{% block extra_title %}public-key{% endblock %}
{% block header_desc %}PGP公開鍵{% endblock %}
{% block description %}NerconeのPGP公開鍵とそのフィンガープリント{% endblock %}
{% block content %}
            <p class="text-small text-bold"><a href="/" class="text-no-decoration">← ホーム</a></p>
            <h3><a href="mailto:nercone@diamondgotcat.net" class="text-no-decoration">Nercone &lt;nercone&#64;diamondgotcat.net&gt;</a></h3>
            <pre>-----BEGIN PGP PUBLIC KEY BLOCK-----<br><br>mDMEaTwGrhYJKwYBBAHaRw8BAQdAbUWV+MmUqJl/1nRnYrBLkgj7kAIVSAB1VO2P<br>KA3hyF60I05lcmNvbmUgPG5lcmNvbmVAZGlhbW9uZGdvdGNhdC5uZXQ+iJMEExYK<br>ADsWIQR3AMyWjGdZL8n38lK49FVuUc7abwUCaTwGrgIbAwULCQgHAgIiAgYVCgkI<br>CwIEFgIDAQIeBwIXgAAKCRC49FVuUc7abzKIAQCEw9UnQqVoDaAuOJM/CZiQBOcJ<br>54Iooh4yF0IYZyht2wD/TpWF84XENFIsHDi1z/I7iZvGbljwphx1G9WT6+o8MwG4<br>OARpPAauEgorBgEEAZdVAQUBAQdA/V7BYE1mDtaJSGJsU+yM5qTtmYYM+QCtCwXK<br>f5OSGC8DAQgHiHgEGBYKACAWIQR3AMyWjGdZL8n38lK49FVuUc7abwUCaTwGrgIb<br>DAAKCRC49FVuUc7ab2NtAP4ulwqdxzU/XyC4QlEr8c/48oSQr9GSbGNChpYO1Utz<br>lwEA/icijJFORumXKLDPlBqUaFLlGhO5/orW8yJ/biygfQU=<br>=TawG<br>-----END PGP PUBLIC KEY BLOCK-----</pre>
            <pre>7700 CC96 8C67 592F C9F7 F252 B8F4 556E 51CE DA6F</pre>
            <h3><a href="mailto:nenaicone@diamondgotcat.net" class="text-no-decoration">Nenaicone &lt;nenaicone&#64;diamondgotcat.net&gt;</a></h3>
            <pre>-----BEGIN PGP PUBLIC KEY BLOCK-----<br><br>mDMEaXnL+BYJKwYBBAHaRw8BAQdA4MNiJI0XXqNi7evKrMNszOPmS5bw3NnsSL0u<br>xw3d3O60J05lbmFpY29uZSA8bmVuYWljb25lQGRpYW1vbmRnb3RjYXQubmV0PoiM<br>BBAWCgAdBQJpecv4BAsJBwgDFQgKBBYAAgECGQECGwMCHgEAIQkQ5Vs40J5B53EW<br>IQS1/UCpUsEazqAmPb3lWzjQnkHncb+uAP0cFts0SAM6mqW2AMw6KV1nIJJhkur5<br>hqum+sP0uBaw+AD9FQ5SgpP/+oZXgrkzJqau8RFmnTLtuvSnJmHaZiW6ZQC4OARp<br>ecv4EgorBgEEAZdVAQUBAQdAiOaQPFQkIvTGG1FpINLf4k2uG/I2pZo8f+Ivmfqd<br>yVYDAQgHiHgEGBYIAAkFAml5y/gCGwwAIQkQ5Vs40J5B53EWIQS1/UCpUsEazqAm<br>Pb3lWzjQnkHnccJoAQCc9vRDiyBBOtTOPMqG8dDpGxPOoGhuUFilzBlgvTqVNQD/<br>cBUWvL9TUuROgSbWB5+movpIzcerBaAmki5G6B4CHQE=<br>=2D/G<br>-----END PGP PUBLIC KEY BLOCK-----</pre>
            <pre>B5FD 40A9 52C1 1ACE A026 3DBD E55B 38D0 9E41 E771</pre>
{% endblock %}
